.body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/1.jpg);
  background-size: cover;
  /* background-color: #F28444; */
}

.login-center {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(255, 255, 255, 0.35);
  min-height: 400px;
}

.unknown {
  position: relative;
  top: 40px;
}

.fas {
  font-size: 80px;
}

.btn {
  border-radius: 50px;
}
